<div id="plot_537085617-container" class="ggvis-output-container">
  <div id="plot_537085617" class="ggvis-output"></div>
  <div class="plot-gear-icon">
    <nav class="ggvis-control">
      <a class="ggvis-dropdown-toggle" title="Controls" onclick="return false;"></a>
      <ul class="ggvis-dropdown">
        <li>
          Renderer: 
          <a id="plot_537085617_renderer_svg" class="ggvis-renderer-button" onclick="return false;" data-plot-id="plot_537085617" data-renderer="svg">SVG</a>
           | 
          <a id="plot_537085617_renderer_canvas" class="ggvis-renderer-button" onclick="return false;" data-plot-id="plot_537085617" data-renderer="canvas">Canvas</a>
        </li>
        <li>
          <a id="plot_537085617_download" class="ggvis-download" data-plot-id="plot_537085617">Download</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<script type="text/javascript">
var plot_537085617_spec = {
	"data" : [
		{
			"name" : "tbl.dp0",
			"format" : {
				"type" : "csv",
				"parse" : {
					"tot_enr" : "number"
				}
			},
			"values" : "\"tot_enr\",\"department\"\n1041,\"PSYC\"\n995,\"BIOC\"\n818,\"ECON\"\n688,\"COMP\"\n647,\"CHEM\"\n617,\"MATH\"\n612,\"MUSI\"\n593,\"STAT\"\n552,\"CHBE\"\n543,\"LPAP\"\n533,\"SOCI\"\n479,\"RELI\"\n478,\"MECH\"\n461,\"ENGL\"\n422,\"BIOE\"\n394,\"BUSI\"\n388,\"POLI\"\n350,\"ELEC\"\n348,\"HIST\"\n345,\"CAAM\"\n345,\"CEVE\"\n302,\"PHYS\"\n295,\"ANTH\"\n288,\"KINE\"\n287,\"COLL\"\n258,\"ARCH\"\n239,\"EBIO\"\n233,\"SPAN\"\n229,\"LING\"\n210,\"PHIL\"\n159,\"SMGT\"\n157,\"MSNE\"\n155,\"ESCI\"\n135,\"ENGI\"\n116,\"ARTS\"\n116,\"EDUC\"\n112,\"FREN\"\n108,\"HEAL\"\n108,\"LEAD\""
		},
		{
			"name" : "scale/x",
			"format" : {
				"type" : "csv",
				"parse" : {
					"domain" : "number"
				}
			},
			"values" : "\"domain\"\n61.35\n1087.65"
		},
		{
			"name" : "scale/y",
			"format" : {
				"type" : "csv",
				"parse" : null
			},
			"values" : "\"domain\"\n\"PSYC\"\n\"BIOC\"\n\"ECON\"\n\"COMP\"\n\"CHEM\"\n\"MATH\"\n\"MUSI\"\n\"STAT\"\n\"CHBE\"\n\"LPAP\"\n\"SOCI\"\n\"RELI\"\n\"MECH\"\n\"ENGL\"\n\"BIOE\"\n\"BUSI\"\n\"POLI\"\n\"ELEC\"\n\"HIST\"\n\"CAAM\"\n\"CEVE\"\n\"PHYS\"\n\"ANTH\"\n\"KINE\"\n\"COLL\"\n\"ARCH\"\n\"EBIO\"\n\"SPAN\"\n\"LING\"\n\"PHIL\"\n\"SMGT\"\n\"MSNE\"\n\"ESCI\"\n\"ENGI\"\n\"ARTS\"\n\"EDUC\"\n\"FREN\"\n\"HEAL\"\n\"LEAD\""
		}
	],
	"scales" : [
		{
			"name" : "x",
			"domain" : {
				"data" : "scale/x",
				"field" : "data.domain"
			},
			"zero" : false,
			"nice" : false,
			"clamp" : false,
			"range" : "width"
		},
		{
			"name" : "y",
			"type" : "ordinal",
			"domain" : {
				"data" : "scale/y",
				"field" : "data.domain"
			},
			"points" : true,
			"sort" : false,
			"range" : "height",
			"padding" : 0.5
		}
	],
	"marks" : [
		{
			"type" : "symbol",
			"properties" : {
				"update" : {
					"fill" : {
						"value" : "#000000"
					},
					"size" : {
						"value" : 50
					},
					"x" : {
						"scale" : "x",
						"field" : "data.tot_enr"
					},
					"y" : {
						"scale" : "y",
						"field" : "data.department"
					}
				},
				"ggvis" : {
					"data" : {
						"value" : "tbl.dp0"
					}
				}
			},
			"from" : {
				"data" : "tbl.dp0"
			}
		}
	],
	"width" : 600,
	"height" : 400,
	"legends" : [],
	"axes" : [
		{
			"type" : "x",
			"scale" : "x",
			"orient" : "bottom",
			"title" : "undergraduate enrollment",
			"layer" : "back",
			"grid" : true
		},
		{
			"type" : "y",
			"scale" : "y",
			"orient" : "left",
			"title" : "department",
			"titleOffset" : 55,
			"layer" : "back",
			"grid" : true
		}
	],
	"padding" : null,
	"ggvis_opts" : {
		"width" : 600,
		"height" : 400,
		"keep_aspect" : false,
		"resizable" : true,
		"padding" : {},
		"duration" : 250,
		"renderer" : "svg",
		"hover_duration" : 0
	},
	"handlers" : null
};
ggvis.getPlot("plot_537085617").parseSpec(plot_537085617_spec);
</script>
