<div id="plot_974095303-container" class="ggvis-output-container">
  <div id="plot_974095303" class="ggvis-output"></div>
  <div class="plot-gear-icon">
    <nav class="ggvis-control">
      <a class="ggvis-dropdown-toggle" title="Controls" onclick="return false;"></a>
      <ul class="ggvis-dropdown">
        <li>
          Renderer: 
          <a id="plot_974095303_renderer_svg" class="ggvis-renderer-button" onclick="return false;" data-plot-id="plot_974095303" data-renderer="svg">SVG</a>
           | 
          <a id="plot_974095303_renderer_canvas" class="ggvis-renderer-button" onclick="return false;" data-plot-id="plot_974095303" data-renderer="canvas">Canvas</a>
        </li>
        <li>
          <a id="plot_974095303_download" class="ggvis-download" data-plot-id="plot_974095303">Download</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<script type="text/javascript">
var plot_974095303_spec = {
	"data" : [
		{
			"name" : "arrange(tbl.dp, -class_size)0",
			"format" : {
				"type" : "csv",
				"parse" : {
					"class_size" : "number"
				}
			},
			"values" : "\"class_size\",\"department\"\n62.5,\"BUSI\"\n50.1818181818182,\"CHBE\"\n35.2222222222222,\"ECON\"\n25.9473684210526,\"STAT\"\n24.25,\"CAAM\"\n21.4761904761905,\"COMP\"\n20.4285714285714,\"MSNE\"\n18,\"KINE\"\n14.9056603773585,\"BIOC\"\n14.5384615384615,\"MECH\"\n14,\"PHIL\"\n13.8518518518519,\"BIOE\"\n13.65,\"MATH\"\n13.5,\"CHEM\"\n12.2307692307692,\"CEVE\"\n11.1875,\"HIST\"\n11.1666666666667,\"ELEC\"\n10.7307692307692,\"PSYC\"\n10.2173913043478,\"POLI\"\n9.88095238095238,\"SOCI\"\n9.43333333333333,\"ENGL\"\n8.04,\"ARCH\"\n7.47368421052632,\"SMGT\"\n7.36363636363636,\"EBIO\"\n6.76190476190476,\"SPAN\"\n6.03448275862069,\"RELI\"\n5.61904761904762,\"LING\"\n5.33333333333333,\"ESCI\"\n4.54545454545455,\"MUSI\"\n3.71052631578947,\"ANTH\""
		},
		{
			"name" : "scale/x",
			"format" : {
				"type" : "csv",
				"parse" : {
					"domain" : "number"
				}
			},
			"values" : "\"domain\"\n0.771052631578947\n65.4394736842105"
		},
		{
			"name" : "scale/y",
			"format" : {
				"type" : "csv",
				"parse" : null
			},
			"values" : "\"domain\"\n\"BUSI\"\n\"CHBE\"\n\"ECON\"\n\"STAT\"\n\"CAAM\"\n\"COMP\"\n\"MSNE\"\n\"KINE\"\n\"BIOC\"\n\"MECH\"\n\"PHIL\"\n\"BIOE\"\n\"MATH\"\n\"CHEM\"\n\"CEVE\"\n\"HIST\"\n\"ELEC\"\n\"PSYC\"\n\"POLI\"\n\"SOCI\"\n\"ENGL\"\n\"ARCH\"\n\"SMGT\"\n\"EBIO\"\n\"SPAN\"\n\"RELI\"\n\"LING\"\n\"ESCI\"\n\"MUSI\"\n\"ANTH\""
		}
	],
	"scales" : [
		{
			"name" : "x",
			"domain" : {
				"data" : "scale/x",
				"field" : "data.domain"
			},
			"zero" : false,
			"nice" : false,
			"clamp" : false,
			"range" : "width"
		},
		{
			"name" : "y",
			"type" : "ordinal",
			"domain" : {
				"data" : "scale/y",
				"field" : "data.domain"
			},
			"points" : true,
			"sort" : false,
			"range" : "height",
			"padding" : 0.5
		}
	],
	"marks" : [
		{
			"type" : "symbol",
			"properties" : {
				"update" : {
					"fill" : {
						"value" : "#000000"
					},
					"size" : {
						"value" : 50
					},
					"x" : {
						"scale" : "x",
						"field" : "data.class_size"
					},
					"y" : {
						"scale" : "y",
						"field" : "data.department"
					}
				},
				"ggvis" : {
					"data" : {
						"value" : "arrange(tbl.dp, -class_size)0"
					}
				}
			},
			"from" : {
				"data" : "arrange(tbl.dp, -class_size)0"
			}
		}
	],
	"width" : 600,
	"height" : 400,
	"legends" : [],
	"axes" : [
		{
			"type" : "x",
			"scale" : "x",
			"orient" : "bottom",
			"title" : "average class size",
			"layer" : "back",
			"grid" : true
		},
		{
			"type" : "y",
			"scale" : "y",
			"orient" : "left",
			"title" : "department",
			"titleOffset" : 55,
			"layer" : "back",
			"grid" : true
		}
	],
	"padding" : null,
	"ggvis_opts" : {
		"width" : 600,
		"height" : 400,
		"keep_aspect" : false,
		"resizable" : true,
		"padding" : {},
		"duration" : 250,
		"renderer" : "svg",
		"hover_duration" : 0
	},
	"handlers" : null
};
ggvis.getPlot("plot_974095303").parseSpec(plot_974095303_spec);
</script>
