<!DOCTYPE html>
<html>
  <!-- Begin header.php -->
  <head>

    {% include ggvis.html %}
    {% include google_analytics.html %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>

    <!--<div id="page" class="hfeed site"> -->
    <!-- <div id="main" class="site-main"> -->
    <!-- <div id="primary" class="content-area"> -->
    <div id="content" class="site-content" role="main">
      
      {{ content }}

      <!--</div>-->
      <!-- </div> -->
      <!-- </div> -->

    </div>
  </body>
</html>
